<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${post.title}">게시글 상세</title>
  <link rel="stylesheet" th:href="@{/css/post-detail.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="post" data-post-id="[[${post.id}]]">
  <a class="post-list-back post-btn" th:href="@{/list/{type}(type=${post.type.pathPrefix()})}">← 목록으로</a>
  <div class="post-container">
    <div class="post-type" th:text="${post.type.displayName()}">포스트 타입</div>
    <div class="post-header">
      <img class="post-user-image" src="/images/profileImage.png" alt="프로필 이미지">
      <div class="post-title-container">
        <div class="post-title-info">
          <div class="post-user-nickname" th:text="${post.user.username}">사용자명</div>
          <div class="post-title" th:text="${post.title}">게시글 제목</div>
        </div>
        <div class="post-date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</div>
      </div>
      <div class="more-menu-container">
        <img class="more-icon" src="/images/more-vertical.png" alt="더보기 아이콘" onclick="toggleMoreMenu(event, 'post-more-menu')">
        <div class="more-menu" id="post-more-menu">
          <button type="button" class="report-btn" id="report-button">신고</button>
        </div>
      </div>
    </div>

    <div class="team-content" th:if="${post.type.name() == 'TEAM'}">
      <div class="team-capacity">현재 인원 : <span th:text="${reactions.teamCount}"></span></div>
      <div> / </div>
      <div class="team-capacity">모집 인원 : <span th:text="${post.teamInfo.capacity}"></span></div>
      <form th:action="@{/post/{postId}/team(postId=${post.id})}" th:object="${participationDTO}"
            method="post" style="display: inline;">
        <input type="hidden" name="userId" th:value="${user.id}" />
        <input type="hidden" name="postId" th:value="${post.id}" />
        <button type="submit" class="team-btn">신청하기</button>
      </form>
    </div>
    <div class="post-content">
      <div th:if="${post.images}">
        <div th:each="img : ${post.images}">
          <img th:src="@{|/uploads/${img.fileName}|}" alt="첨부 이미지">
        </div>
      </div>
      <pre th:text="${post.content}">게시글 내용</pre>
    </div>
    <div class="post-tags">
      <div th:if="${post.type.name() == 'RECRUIT'}">
        <div class="chip" th:each="item : ${post.postJob.techniques}" th:text="${item.tech}">태그</div>
      </div>
      <div th:if="${post.type.name() == 'FREE' or post.type.name() == 'QNA'}">
        <div class="chip" th:each="item : ${post.postTags}" th:text="${item.tags}">태그</div>
      </div>
      <div class="chip" th:if="${post.type.name() == 'PLAY'}"
            th:text="${post.postHangout != null ? post.postHangout.placeName : ''}">태그</div>
    </div>
    <div class="post-reaction">
      <div class="post-reaction-count">
        <div class="reaction-item">
          <form th:action="@{/post/{postId}/like(postId=${post.id})}" method="post" style="display: inline;">
            <button type="submit" class="like-btn">
              <img class="post-icon" th:if="${!reactions.isLiked}" src="/images/like.png" alt="좋아요 아이콘">
              <img class="post-icon" th:if="${reactions.isLiked}" src="/images/like-fill.svg" alt="좋아요 아이콘">
            </button>
          </form>
          <span th:text="${reactions.likesCount}">0</span>
        </div>
        <div class="reaction-item">
          <img class="post-icon" src="/images/view.png" alt="조회수 아이콘">
          <span th:text="${post.viewCount}">0</span>
        </div>
        <div class="reaction-item">
          <img class="post-icon" src="/images/comment.png" alt="댓글 아이콘">
          <span th:text="${reactions.commentsCount}">0</span>
        </div>
      </div>
      <form th:action="@{/post/{postId}/bookmark(postId=${post.id})}" method="post" style="display: inline;">
        <button type="submit" class="bookmark-btn">
          <img class="post-icon" th:if="${!reactions.isBookmarked}" src="/images/bookmark.png" alt="북마크 아이콘">
          <img class="post-icon" th:if="${reactions.isBookmarked}" src="/images/bookmark-fill.svg" alt="북마크 아이콘">
        </button>
      </form>
    </div>

    <div th:replace="~{post/comment}"></div>
  </div>

  <div class="post-actions" th:if="${user.id == post.user.id}">
    <a class="post-btn" th:href="@{|/post/${post.id}/edit|}">수정하기</a>
    <form th:action="@{|/post/${post.id}/delete|}" method="post" style="display:inline;">
      <button class="post-btn delete-btn" type="submit" onclick="return confirm('게시글을 삭제하시겠습니까?')">삭제하기</button>
    </form>
  </div>

</div>

<script th:inline="javascript" th:if="${!#strings.isEmpty(errorMessage)}">
  /*<![CDATA[*/
      alert([[${errorMessage}]]);
  /*]]>*/
</script>
<script src="/js/post-detail.js"></script>
</body>
</html>